* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  background-color: #d3e3fc;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  width: 50rem;
  gap: 2rem;
  background-color: #ffccbc;
  border-radius: 2rem;
}

.question {
  color: #00887a;
  font-size: 3rem;
}

.input {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  width: 35rem;
  border: 0.1rem solid #77a6f7;
  border-radius: 1rem;
}

.btnSubmit {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: #77a6f7;
  color: navy;
  border: none;
  border-radius: 1rem;
}

.btnSubmit:hover {
  scale: 1.1;
}

.answer {
  font-size: 2rem;
}

.hidden {
  color: #ffccbc;
}
