* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.board-now {
  display: flex;
}

.square {
  font-size: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
}
